.block {

    // Block Margin Options
    &.margin-top {
        margin-top: 10rem;
    }

    &.margin-bottom {
        margin-bottom: 10rem;
    }

    &.reduce-margin-top {
        margin-top: 5rem;
    }

    &.reduce-margin-bottom {
        margin-bottom: 5rem;
    }

    // Block Padding Options
    &.padding-top {
        padding-top: 10rem;
    }

    &.padding-bottom {
        padding-bottom: 10rem;
    }

    &.reduce-padding-top {
        padding-top: 5rem;
    }

    &.reduce-padding-bottom {
        padding-bottom: 5rem;
    }
}