.block__team-profile {
    padding: 5rem 0;

    @include bp(desktop) {
        padding: 10rem 0;
    }

    .team-profile__biography {
        padding: 3rem;
        background-color: $lightest;

        @include bp(tablet) {
            padding: 5rem;
        }

        p {
            margin-top: 0;
            margin-bottom: 4rem;
            font-size: 2rem;
            line-height: 3.2rem;
            color: $primary-blue;
        }
    }

    .team-profile__contact {
        padding: 5rem 0;

        .section-heading {
            margin-bottom: 4rem;
        }

        &-socials {
            margin: 0 0 4rem 0;
            display: flex;
            flex-wrap: wrap;
            
            a {
                margin-right: 4rem;
                display: block;

                &:last-child {
                    margin-right: 0;
                }

                svg {
                    width: auto;
                    height: 29px;
                    display: block;
                }
            }
        }

        a {
            font-size: 2.4rem;
            line-height: 3.1rem;
            color: $primary-blue;
            text-decoration: none;
        }
    }
}