---
layout: page
title: About
---

<section class="block block__hero block__hero--standard">
    <div class="container">
        <!-- Top Row | Logo & Menu -->
        <div class="row">
            <div class="hero__item hero__item--bottom-left">
                {% include nav-primary.html %}
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-left"></span>
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-left"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
                <a href="{{site.url}}" class="hero__item hero__item--top-left">
                    <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
                </a>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column no-mobile">
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column no-mobile">
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column no-mobile">
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
                <div class="hero__item hero__item--top-right">
                    {% include menu-trigger.html %}
                </div>
            </div>
        </div>
        <!-- Second Row | Title & Nav -->
        <div class="row">
            <div class="column">
                <span class="hero__dot hero__dot--bottom-left"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
                <div class="hero__item hero__item--bottom-left">
                    <h1 class="hero__title">{{ site.data.about.hero.title }}</h1>
                </div>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column no-mobile">
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column no-mobile">
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column no-mobile">
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
        </div>
    </div>
</section>
<section class="block block__text">
    <div class="container">
        {{ site.data.about.body | markdownify }}
    </div>
</section>
<section class="block block__logo-grid">
    <div class="container">
        <div class="logo-grid__grid">
            {% for item in site.data.about.partners %}
                <a class="logo-grid__logo" href="{{ item.link }}">
                    <img src="{{ item.image }}">
                </a>
            {% endfor %}
        </div>
    </div>
</section>
<section class="block block__grid">
    <div class="container">
        <div class="grid__grid">
            {% for item in site.data.about.grid %}
                <a class="grid__item" href="{{ item.link }}">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                    <img src="{{ item.image }}">
                </a>
            {% endfor %}
        </div>
    </div>
</section>