---
layout: news-events
title: Events
permalink: /events/
---

{% assign todayDate = 'now' | date: '%Y%m%d' %}
{% assign stamped_events = "" | split: "" %}
{% for post in site.events %}
  {% if post.event_date %}
    {% assign sort_date = post.event_date | date: "%Y-%m-%d" %}
  {% elsif post.date %}
    {% assign sort_date = post.date | date: "%Y-%m-%d" %}
  {% else %}
    {% assign sort_date = "0000-00-00" %}
  {% endif %}
  {% capture stamped %}{{ sort_date }}|{{ post.url }}{% endcapture %}
  {% assign stamped_events = stamped_events | push: stamped %}
{% endfor %}
{% assign stamped_events = stamped_events | sort %}

{% for stamped in stamped_events %}
  {% assign event_url = stamped | split: "|" | last %}
  {% assign eventDate = stamped | split: "|" | first | date: "%Y%m%d" %}
  {% if todayDate <= eventDate %}
    {% for post in site.events %}
      {% if post.url == event_url %}
        {% include events__post.html %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% assign stamped_events = stamped_events | reverse %}
{% for stamped in stamped_events %}
  {% assign event_url = stamped | split: "|" | last %}
  {% assign eventDate = stamped | split: "|" | first | date: "%Y%m%d" %}
  {% if eventDate < todayDate %}
    {% for post in site.events %}
      {% if post.url == event_url %}
        {% include events__post.html %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
