---
layout: page
title: Our Research
permalink: /research/
---

<section class="block block__hero block__hero--standard">
  <div class="container">
    {% include top-row-logo-and-menu.html %}
    {% include second-row-nav.html title=page.title %}
  </div>
</section>
<section class="block block__research">
    <div class="container">
        {% assign flip = false %}
        {% for item in site.research %}
            <div class="research__item {% if flip == true %}research__item--flipped{% endif %}">
                {% if flip == true %}

                    <div class="research__item-image">
                        <img src="{{site.url}}/{{site.baseurl}}/{{site.data.images.directory}}/{{item.featured_image}}" alt="Image of {{item.title}}">
                    </div>
                    <div class="research__item-details">
                        <div>
                            <div class="section-heading section-heading--large">
                                <h2>{{ item.title }}</h2>
                                <span></span>
                            </div>
                            <p>{{ item.excerpt }}</p>
                        </div>
                        <a class="button" href="{{ item.url }}">
                            Read More
                            <span class="dot dot--top-left"></span>
                            <span class="dot dot--top-right"></span>
                            <span class="dot dot--bottom-left"></span>
                            <span class="dot dot--bottom-right"></span>
                        </a>
                    </div>
                {% else %}
                    <div class="research__item-details">
                        <div>
                            <div class="section-heading section-heading--large">
                                <h2>{{ item.title }}</h2>
                                <span></span>
                            </div>
                            <p>{{ item.excerpt }}</p>
                        </div>
                        <a class="button" href="{{ item.url }}">
                            Read More
                            <span class="dot dot--top-left"></span>
                            <span class="dot dot--top-right"></span>
                            <span class="dot dot--bottom-left"></span>
                            <span class="dot dot--bottom-right"></span>
                        </a>
                    </div>
                    <div class="research__item-image">
                        <img src="{{site.url}}/{{site.baseurl}}/{{site.data.images.directory}}/{{item.featured_image}}" alt="Image of {{item.title}}">
                    </div>
                {% endif %}
            </div>

            {% if flip == true %}
                {% assign flip = false %}
            {% else %}
                {% assign flip = true %}
            {% endif %}
        {% endfor %}
    </div>
</section>
