---
layout: page
title: Resources
---

<section class="block block__hero block__hero--standard">
    <div class="container">
        <!-- Top Row | Logo & Menu -->
        <div class="row">
            <div class="hero__item hero__item--bottom-left">
                {% include nav-primary.html %}
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-left"></span>
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-left"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
                <a href="{{site.url}}" class="hero__item hero__item--top-left">
                    <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
                </a>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column no-mobile">
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column no-mobile">
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column no-mobile">
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
                <div class="hero__item hero__item--top-right">
                    {% include menu-trigger.html %}
                </div>
            </div>
        </div>
        <!-- Second Row | Title & Nav -->
        <div class="row">
            <div class="column">
                <span class="hero__dot hero__dot--bottom-left"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
                <div class="hero__item hero__item--bottom-left">
                    <h1 class="hero__title">{{ site.data.resources.hero.title }}</h1>
                </div>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column no-mobile">
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column no-mobile">
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column no-mobile">
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
        </div>
    </div>
</section>

<section class="block block__resources">
    <div class="container">
        <div class="resources__filter">
            <p>Filter:</p>
            <button class="active" data-filter="all">All</button>
            {% assign titles = site.data.resources.resources | map: 'Category' | uniq %}
            {% for item in titles %}
                <button data-filter="{{ item }}">{{ item }}</button>
            {% endfor %}
        </div>
        <div class="resources__grid">
            {% for item in site.data.resources.resources %}
                <a href="{{ item.Link }}" target="_blank" rel="noreferrer" class="resources__resource all {{ item.Category }} active">
                    <div>
                        <img alt="" src="{{ item.icon }}">
                        <h3>{{ item.title }}</h3>
                    </div>
                    <p>View Resource</p>
                </a>
            {% endfor %}
        </div>
    </div>
</section>