<section class="block block__team">
    <div class="container">
        <div class="team__grid">
            {% for item in site.people %}
            <a href="{{ item.url }}" class="team__member">
                <div class="team__member-image">
                    <img src="{{item.featured_image}}" alt="Image of {{item.title}}">
                </div>
                <div class="team__member-details">
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.description }}</p>
                    <span>View Profile</span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>