<section class="block block__team-profile">
    <div class="container">
        <div class="row row--justified">
            <div class="team-profile__biography column-m-12 column-t-7 column-d-8">
                <div class="section-heading">
                    <h2>Biography</h2>
                    <span></span>
                </div>
                {{ page.biography }}
            </div>
            <div class="team-profile__contact column-m-12 column-t-5 column-d-3">
                <div class="section-heading">
                    <h2>Contact</h2>
                    <span></span>
                </div>
                <a href="mailto:{{page.email}}">{{page.email}}</a>
            </div>
        </div>
    </div>
</section>