<section class="block block__hero block__hero--large">
    <div class="container">
        <!-- Top Row | Logo & Menu -->
        <div class="row">
            <div class="column">
                <span class="hero__dot hero__dot--top-left"></span>
                <span class="hero__dot hero__dot--top-right"></span>
                <a href="{{site.baseurl}}" class="hero__item hero__item--top-left">
                    <img class="brand" src="{{site.baseurl}}/{{site.logo}}" alt="Logo">
                </a>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
                <div class="hero__item hero__item--top-right">
                    {% include menu-trigger.html %}
                </div>
            </div>
        </div>
        <!-- Second Row | Nav -->
        <div class="row">
            {% include nav-primary.html %}

            <div class="column">
                <span class="hero__dot hero__dot--top-left"></span>
                <span class="hero__dot hero__dot--top-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
            </div>
        </div>
        <!-- Third Row -->
        <div class="row">
            <div class="column">
                <span class="hero__dot hero__dot--top-left"></span>
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-left"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
            <div class="column">
                <span class="hero__dot hero__dot--top-right"></span>
                <span class="hero__dot hero__dot--bottom-right"></span>
            </div>
        </div>
        <h1 class="hero__title">Using machine learning systems to tackle real-world challenges</h1>
    </div>
    <canvas id="bg-particle-animation"></canvas>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/particles.js"></script>
</section>