<section class="block block__partners">
    <div class="container">
        <div class="partners__grid">
            <!-- Loop -->
            <a class="partners__logo" href="#">
                <img src="{{site.baseurl}}/assets/images/cambridge-university.png" alt="University of Cambridge">
            </a>
            <a class="partners__logo" href="#">
                <img src="{{site.baseurl}}/assets/images/cambridge-university.png" alt="University of Cambridge">
            </a>
            <a class="partners__logo" href="#">
                <img src="{{site.baseurl}}/assets/images/cambridge-university.png" alt="University of Cambridge">
            </a>
            <a class="partners__logo" href="#">
                <img src="{{site.baseurl}}/assets/images/cambridge-university.png" alt="University of Cambridge">
            </a>
            <a class="partners__logo" href="#">
                <img src="{{site.baseurl}}/assets/images/cambridge-university.png" alt="University of Cambridge">
            </a>
            <!-- Endloop -->
        </div>
    </div>
</section>