<nav class="nav-primary">
    <span></span>
    <ul>
        <li><a href=" {{site.baseurl}}/about/">About</a></li>
        <li><a href=" {{site.baseurl}}/research/">Research</a></li>
        <li><a href=" {{site.baseurl}}/news/">News</a></li>
        <li><a href=" {{site.baseurl}}/events/">Events</a></li>
        <li><a href=" {{site.baseurl}}/resources/">Resources</a></li>
        <li><a href=" {{site.baseurl}}/blog/">Blog</a></li>
        <li><a href=" {{site.baseurl}}/contact-us/">Contact us</a></li>
    </ul>
</nav>