---
layout: page
title: Home
---

{% include block_hero-large.html %}
<section class="block block__media-text block__media-text--padded">
    <div class="container">
        <div class="media-text__text">
            <div class="section-heading">
                <h2>{{ site.data.homepage.about.title }}</h2>
                <span></span>
            </div>
            <!-- Heading -->
            <h3>{{ site.data.homepage.about.heading }}</h3>
            <p>{{ site.data.homepage.about.content }}</p>
            <a class="button" href="#">
                Read more
                <span class="dot dot--top-left"></span>
                <span class="dot dot--top-right"></span>
                <span class="dot dot--bottom-left"></span>
                <span class="dot dot--bottom-right"></span>
            </a>
        </div>
        <div class="media-text__media">
            <!-- Image -->
        </div>
    </div>
</section>
{% include block_media-text.html %}
{% include block_partners.html %}
{% include block_latest-news-events.html %}