---
layout: page
title: Home
---

{% include block_hero-large.html %}
<section class="block block__media-text block__media-text--padded">
    <div class="container">
        <div class="media-text__text">
            <div class="section-heading">
                <h2>{{ site.data.homepage.about.title }}</h2>
                <span></span>
            </div>
            <!-- Heading -->
            <h3>{{ site.data.homepage.about.heading }}</h3>
            <p>{{ site.data.homepage.about.content }}</p>
            <a class="button" href="#">
                Read more
                <span class="dot dot--top-left"></span>
                <span class="dot dot--top-right"></span>
                <span class="dot dot--bottom-left"></span>
                <span class="dot dot--bottom-right"></span>
            </a>
        </div>
        <div class="media-text__media">
            <img src="{{ site.data.homepage.about.image }}">
        </div>
    </div>
</section>
<section class="block block__media-text block__media-text--bg-white">
    <div class="container">
        <div class="media-text__text">
            <div class="section-heading">
                <h2>{{ site.data.homepage.research.title }}</h2>
                <span></span>
            </div>
            <!-- Heading -->
            <h3>{{ site.data.homepage.research.heading }}</h3>
            <p>{{ site.data.homepage.research.content }}</p>
            <a class="button" href="#">
                Our Research
                <span class="dot dot--top-left"></span>
                <span class="dot dot--top-right"></span>
                <span class="dot dot--bottom-left"></span>
                <span class="dot dot--bottom-right"></span>
            </a>
        </div>
        <div class="media-text__media">
            <img src="{{ site.data.homepage.research.image }}">
        </div>
    </div>
</section>
<section class="block block__partners">
    <div class="container">
        <div class="partners__grid">
            {% for item in site.data.homepage.partners %}
                <a class="partners__logo" href="{{ item.link }}">
                    <img src="{{ item.image }}" alt="University of Cambridge">
                </a>
            {% endfor %}
        </div>
    </div>
</section>
{% include block_latest-news-events.html %}