<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>ML@CL</title>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css">
</head>

<body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
    {% include site-header.html %}
    <main class="main">
        <section class="block block__hero block__hero--large block__hero--white">
            <div class="container">
                <!-- Top Row | Logo & Menu -->
                <div class="row">
                    <div class="column">
                        <span class="hero__dot hero__dot--top-left"></span>
                        <span class="hero__dot hero__dot--top-right"></span>
                        <a href="{{site.url}}" class="hero__item hero__item--top-left">
                            <img class="brand" src="{{site.baseurl}}/{{site.logo}}" alt="Logo">
                        </a>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                        <div class="hero__item hero__item--top-right">
                            {% include menu-trigger.html %}
                        </div>
                    </div>
                </div>
                <!-- Second Row | Nav -->
                <div class="row">
                    {% include nav-primary.html %}

                    <div class="column">
                        <span class="hero__dot hero__dot--top-left"></span>
                        <span class="hero__dot hero__dot--top-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                    </div>
                </div>
                <!-- Third Row -->
                <div class="row">
                    <div class="column">
                        <span class="hero__dot hero__dot--top-left"></span>
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-left"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column">
                        <div class="hero__item hero__item--bottom-left">
                            <h1 class="hero__title hero__title--post">{{page.title}}</h1>
                            <p class="hero__post-date">{{ page.date | date: "%-d %B %Y" }}</p>
                            <span class="hero__post-border"></span>
                        </div>
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                </div>

            </div>
        </section>

        <section class="block block__post-single">
            <div class="container">
                {{ content }}
            </div>
        </section>

        <section class="block block__related-news reduce-margin-top">
            <div class="container container--divider margin-bottom"></div>
            <div class="container">
                <div class="section-heading">
                    <h2>Related News</h2>
                    <span></span>
                </div>
                <div class="related-news__listings">
                    <!-- Figure out counter -->
                    <!-- Only want latest three -->
                    {% for post in site.posts %}
                    {% if post.category == 'news' %}
                    {% include news-events__post.html %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
    {% include site-footer.html %}
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/main.js"></script>
</body>

</html>