<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>ML@CL</title>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css">
</head>

<body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
    {% include site-header.html %}
    <main class="main">
        <section class="block block__project-overview">
            <div class="container">
                <div class="section-heading">
                    <h2>Overview</h2>
                    <span></span>
                </div>
                {{ content }}
            </div>
        </section>
        <section class="block block__logo-grid">
            <div class="container">
                <div class="section-heading">
                    <h2>Project Funders</h2>
                    <span></span>
                </div>
            </div>
            <div class="container">
                <div class="logo-grid__grid">
                    {% for item in page.project_funders %}
                    <a class="logo-grid__logo" href="{{ item.link }}">
                        <img src="{{ item.image }}" alt="University of Cambridge">
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="block block__team">
            <div class="container">
                <div class="section-heading">
                    <h2>Related People</h2>
                    <span></span>
                </div>
                <div class="team__grid">
                    <!-- Update loop to relation widget -->
                    {% for item in site.people %}
                    <a href="{{ item.url }}" class="team__member">
                        <div class="team__member-image">
                            <img src="{{item.featured_image}}" alt="Image of {{item.title}}">
                        </div>
                        <div class="team__member-details">
                            <h2>{{ item.title }}</h2>
                            <p>{{ item.description }}</p>
                            <span>View Profile</span>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="block block__publications-feed">
            <div class="container">

            </div>
        </section>
    </main>
    {% include site-footer.html %}
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/main.js"></script>
</body>

</html>