<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>ML@CL</title>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css">
</head>

<body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
    {% include site-header.html %}
    <main class="main">
        <section class="block block__hero block__hero--standard">
            <div class="container">
                <!-- Top Row | Logo & Menu -->
                <div class="row">
                    <div class="hero__item hero__item--bottom-left">
                        {% include nav-primary.html %}
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-left"></span>
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-left"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                        <a href="{{site.url}}" class="hero__item hero__item--top-left">
                            <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
                        </a>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--top-right"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                        <div class="hero__item hero__item--top-right">
                            {% include menu-trigger.html %}
                        </div>
                    </div>
                </div>
                <!-- Second Row | Title & Nav -->
                <div class="row">
                    <div class="column">
                        <span class="hero__dot hero__dot--bottom-left"></span>
                        <span class="hero__dot hero__dot--bottom-right"></span>
                        <div class="hero__item hero__item--top-left">
                            <a class="back-to-collection" href="{{site.url}}/research/">Back to research</a>
                        </div>
                        <div class="hero__item hero__item--bottom-left">
                            <h1 class="hero__title hero__title--large">{{ page.title }}</h1>
                        </div>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                    <div class="column">
                        <span class="hero__dot hero__dot--bottom-right"></span>
                    </div>
                </div>
            </div>
        </section>

        <section class="block block__research-overview">
            <div class="container">
                <div class="section-heading">
                    <h2>Overview</h2>
                    <span></span>
                </div>
                <div class="research-overview__short">
                    {{ page.overview_short | markdownify }}
                    <div class="research-overview__short-expand">
                        <!-- SVGS into buttons -->
                        <button class="expand-summary">Expand Summary</button>
                        <button class="minimise-summary">Minimise Summary</button>
                    </div>
                </div>
                <div class="research-overview__long">
                    {{ page.overview_long | markdownify }}
                </div>
            </div>
        </section>

        <section class="block block__projects">
            <div class="container">
                <div class="section-heading">
                    <h2>Projects</h2>
                    <span></span>
                </div>
                <div class="projects__grid">
                    <!-- Update loop to relation widget -->
                    {% for item in site.projects %}
                    <a href="{{ item.url }}" class="projects__item">
                        <div class="projects__item-image">
                            <img src="{{item.featured_image}}" alt="Image of {{item.title}}">
                        </div>
                        <div class="projects__item-details">
                            <h2>{{ item.title }}</h2>
                            <p>{{ item.excerpt }}</p>
                            <span>View Profile</span>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="block block__team">
            <div class="container">
                <div class="section-heading">
                    <h2>Related People</h2>
                    <span></span>
                </div>
                <div class="team__grid">
                    <!-- Update loop to relation widget -->
                    {% for item in site.people %}
                    <a href="{{ item.url }}" class="team__member">
                        <div class="team__member-image">
                            <img src="{{item.featured_image}}" alt="Image of {{item.title}}">
                        </div>
                        <div class="team__member-details">
                            <h2>{{ item.title }}</h2>
                            <p>{{ item.description }}</p>
                            <span>View Profile</span>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="block block__related-news">
            <div class="container">
                <div class="section-heading">
                    <h2>Related News</h2>
                    <span></span>
                </div>
                <div class="related-news__listings">
                    <!-- Figure out counter -->
                    <!-- Only want latest three -->
                    {% for post in site.posts %}
                    {% if post.category == 'news' %}
                    {% include news-events__post.html %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
    {% include site-footer.html %}
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/main.js"></script>
</body>

</html>